@font-face {
    font-family: 'DynaPuff';
    src: url('../fonts/DynaPuff-SemiBold.ttf');
}

* {
    transition: all 150ms linear;
}

body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: #333333;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
}

.header {
    text-align: center;
    padding-bottom: 10px;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'DynaPuff';
    letter-spacing: 1.2;
}

.header .subtitle {
    margin: 5px 0 0;
    font-size: 18px;
    color: #333333;
}

.content {
    display: flex;
    margin-top: 20px;
}

.left-column {
    width: 30%;
    padding-right: 20px;
    background-color: #DEE4EB;
    padding: 100px 20px 100px 50px;
}

.right-column {
    width: 70%;
    padding-left: 20px;
}

.logo {
    border: 1px solid #A3B2C4;
    padding: 5px;
}

.logo img {
    max-height: 15rem;
}

section>div {
    padding-bottom: 20px;
    border-bottom: 2px solid #A3B2C4;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

p,
ul {
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #000000;
    text-decoration: none;
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

.logo img {
    width: 200px;
}

.job h3 {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #333333;
}

.job p {
    margin: 5px 0;
    font-size: 14px;
    color: #666666;
}

.skills li {
    margin-bottom: 10px;
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.skills li .percent {
    width: 100%;
    height: 6px;
    background-color: #eee;
    position: relative;
}

.skills li .percent div {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A3B2C4;
}

@page {
    size: auto;
    margin: 0;
    padding: 0;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* background-color: #ffffff; */
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    .container {
        width: 100%;
        height: calc(100vh - 40px);
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }
    
    .left-column {
        height: calc(100vh - 270px);
        margin-bottom: 0;
    }

    .button-wrapper {
        display: none;
    }
}

@media screen and (max-width: 786px) {
    html {
        font-size: 95%;
    }

    .left-column {
        padding: 50px 10px 100px 10px;
    }

    .right-column {
        padding-left: 20px;
    }

    .logo img {
        width: 100%;
    }

    .header h1 {
        font-size: 28px;
    }

    .header .subtitle {
        font-size: 16px;
    }

    .job h3 {
        font-size: 16px;
    }

    .contact p {
        overflow-wrap: break-word;
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .content {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
    }

    .logo {
        width: 15rem;
        height: 15rem;
        margin: 0 auto;
    }
}